<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 	<link rel="stylesheet" href="/assets/css/filmanager.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<title>index</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">Filmanager</a>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

	<% unless session[:user] %>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/signup">新規登録</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/signin">ログイン</a>
                </li>
            </ul>
        </div>
        </nav>  
		<!--<a href="/signin">ログイン</a> <a href="/signup">新規登録</a><br> <h2>未ログイン</h2>-->
	<% else %> 
		<% if User.find(session[:user]).line_id.present? %>
		</nav>
		<div class="container-fluid">
			<div class="row">
				<nav class="col-md-2 d-none d-md-block bg-light sidebar">
				  <div class="sidebar-sticky">
					<ul class="nav flex-column">
						<li class="nav-item">
							<a class="nav-link active" href="/">トップ</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" href="/mypage"><%= User.find(session[:user]).name %></a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" href="/signout">ログアウト</a>
						</li>
					</ul>
				  </div>
				</nav>
				<div>
					<h3>
						<form action="/index" method="post">
							<select name="theater" onchange="submit(this.form)">
								<% @theaters.each do |theater| %>
									<%if theater.name == @theater%>
										<option value="<%= theater.name %>" selected><%= theater.official %></option>
									<% else %>
										<option value="<%= theater.name %>"><%= theater.official %></option>
									<% end %>
								<% end %>
							</select>
						</form>
					で上映中の映画</h3>
			<!--<a href="/mypage">マイページへ</a>-->
					<%@movies.each do |movie|%>
		 			<div>
						<p><a href="https://www.unitedcinemas.jp/<%=@theater%>/film.php?film=<%=movie[1]%>"><%=movie[0]%>
						<% if movie[2].present? %>
							<%=movie[2]%>終了
						<% end %>
						</a></p>
						<form action="/add/<%=movie[1]%>" method="post">
							<input type="hidden" name="theater" value="<%=@theater%>">
							<input type="submit" value="追加">
						</form>
					</div>
					<% end %>
				</div>
			</div>
		</div>
		<% else %>
		</nav>
		<div class="container-fluid">
			<div class="row">
				<nav class="col-md-2 d-none d-md-block bg-light sidebar">
					<div class="sidebar-sticky">
						<ul class="nav flex-column">
							<li class="nav-item">
								<a class="nav-link active" href="/">トップ</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active" href="/mypage"><%= User.find(session[:user]).name %></a>
							</li>
							<li class="nav-item">
								<a class="nav-link active" href="/signout">ログアウト</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
			<div>
				<p>lineを登録し、ユーザ認証をしてください</p>
				<img src='QR.png' width="384" height="384" alt='lineQR'>
			</div>
        </div>
		<% end %>	
	<% end %>
</body>
</html>