<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 	<link rel="stylesheet" href="/assets/css/filmanager.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<title>index</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="/">Filmanager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

	<% unless session[:user] %>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item active float-end">
                    <a class="nav-link" href="/signup">Sign up</a>
                </li>
                <li class="nav-item active float-end">
                    <a class="nav-link active" href="/signin">Sign in</a>
                </li>
            </ul>
        </div>
        </nav>  
		<!--<a href="/signin">ログイン</a> <a href="/signup">新規登録</a><br> <h2>未ログイン</h2>-->
	<% else %> 
		<% if User.find(session[:user]).line_id.present? %>
		<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
							<a class="nav-link active disabled" href="/">Top</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active " href="/mypage"><%= User.find(session[:user]).name %></a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" href="/signout">Sign out</a>
						</li>
            </ul>
        </div>
		</nav>
		<div class="container-fluid">
			<div class="row justify-content-center">
				<form action="/index" method="post">
					<select name="theater" onchange="submit(this.form)" class="text-center my-2">
						<% @theaters.each do |theater| %>
							<%if theater.name == @theater%>
								<option value="<%= theater.name %>" selected><%= theater.official %></option>
							<% else %>
								<option value="<%= theater.name %>"><%= theater.official %></option>
							<% end %>
						<% end %>
					</select>
					<label>で上映中の映画</label>
				</form>
			</div>
		</div>
			<!--<a href="/mypage">マイページへ</a>-->
		<div class="container-fluid">
			<div class="row d-flex justify-content-center">
				<%@movies.each do |movie|%>
					<div class = "card align-items-center col-sm-5 col-md-4 col-lg-3 col-xl-2 m-2 content">
						<div class="card-body">
							<%if movie[0].length>=25%>
								<a href="https://www.unitedcinemas.jp/<%=@theater%>/film.php?film=<%=movie[1]%>" target="_blank" rel="noopener noreferrer"><p class="font-small text-center"><%=movie[0]%></p></a>
							<% elsif movie[0].length>=13%>
								<p class="font-mid text-center"><a href="/movie/<%=movie[1]%>" target="_blank" rel="noopener noreferrer"><%= movie[0] %></a></p>
							<%else%>
								<p  class="text-center"><a href="https://www.unitedcinemas.jp/<%=@theater%>/film.php?film=<%=movie[1]%>" target="_blank" rel="noopener noreferrer"><%=movie[0]%></a></p>
							<% end %>
							<p><img src='<%=movie[4]%>' class='card-img-top rounded' alt='thumb'></p>
							<% if movie[2].present? %>
								<p><%=movie[2]%>終了</p>
							<% else %>
								<p><br></p>
							<% end %>
							<div class="d-flex justify-content-end">
							<form action="/add/<%=movie[1]%>" method="post">
								<input type="hidden" name="theater" value="<%=@theater%>">
								<input type="submit" value="追加" class="btn card-footer-text">
							</form>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
		<% else %>
			<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
							<span class="nav-link active disabled" href="/">Top</span>
						</li>
						<li class="nav-item">
							<span class="nav-link active disabled"> <%= User.find(session[:user]).name %></span>
						</li>
						<li class="nav-item">
							<a class="nav-link active" href="/signout">Sign out</a>
						</li>
            </ul>
        	</div>
		</nav>
		<div class="container">
			<div class="row justify-content-center">
				<p>LineでQRを読み込んで友達登録し、ユーザ認証後このページをリロードしてください</p>
					<p><img src='QR.png' width="300" height="300" alt='lineQR'></p>
			</div>
		</div>
		<% end %>	
	<% end %>
<script>

</script>
</body>
</html>