<% @title = "上映中の映画" %>
<div class="container-fluid">
	<div class="row justify-content-center">
		<h3 class="text-center my-2 col-12">上映中の映画</h3>
		<form action="/index" method="post">
			<select name="theater" onchange="submit(this.form)" class="text-center my-2">
				<% @theaters.each do |theater| %>
					<%if theater.name == @theater%>
						<option value="<%= theater.name %>" selected><%= theater.official %></option>
					<% else %>
						<option value="<%= theater.name %>"><%= theater.official %></option>
					<% end %>
				<% end %>
			</select>
		</form>
	</div>
</div>
<div class="container-fluid">
	<div class="row d-flex justify-content-center">
		<%@movies.each do |movie|%>
			<div class = "card align-items-center col-sm-5 col-md-4 col-lg-3 col-xl-2 m-2 content">
				<div class="card-body">
					<%if movie[0].length>=25%>
						<a href="https://www.unitedcinemas.jp/<%=@theater%>/film.php?film=<%=movie[1]%>" target="_blank" rel="noopener noreferrer"><p class="font-small text-center"><%=movie[0]%></p></a>
					<% elsif movie[0].length>=12%>
						<p class="font-mid text-center"><a href="https://www.unitedcinemas.jp/<%=@theater%>/film.php?film=<%=movie[1]%>" target="_blank" rel="noopener noreferrer"><%= movie[0] %></a></p>
					<%else%>
						<p class="text-center"><a href="https://www.unitedcinemas.jp/<%=@theater%>/film.php?film=<%=movie[1]%>" target="_blank" rel="noopener noreferrer"><%=movie[0]%></a></p>
					<% end %>
					<p><img src='<%=movie[4]%>' class='card-img-top rounded' alt='thumb'></p>
					<% if movie[2].present? %>
						<p class="alert p-0"><%=movie[2]%>終了</p>
					<% else %>
						<p><br></p>
					<% end %>
					<div class="d-flex justify-content-end">
					<% unless movie[5].present? %>
					<form action="/add/<%=movie[1]%>" method="post">
						<input type="hidden" name="theater" value="<%=@theater%>">
						<input type="submit" value="&#xf067;" class="btn card-footer-text fas fa-plus">
					</form>
					<% else %>
					<form action="/delete/<%=movie[1]%>" method="post">
						<input type="hidden" name="theater" value="<%=@theater%>">
						<input type="hidden" name="page" value="<%=@theater%>">
						<input type="submit" value="&#xf2ed;" class="btn card-footer-text far fa-trash-alt">
					</form>
					<% end %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>