<% @title = "マイページ" %>
<h3 class="text-center my-2">登録した映画</h3>
<div class="container-fluid">
	<div class="row d-flex justify-content-center">
		<%@my_movies.each do |movie|%>
				<div class = "card align-items-center col-sm-5 col-md-4 col-lg-3  col-xl-2 m-2 content">
				<div class="card-body">
					<%if movie[0].length>=25%>
						<p class="font-small text-center"><a href="https://www.unitedcinemas.jp/<%=movie[2]%>/film.php?film=<%=movie[1]%>" target="_blank" rel="noopener noreferrer"><%= movie[0] %></a></p>
					<% elsif movie[0].length>=15%>
						<p class="font-mid text-center"><a href="https://www.unitedcinemas.jp/<%=movie[2]%>/film.php?film=<%=movie[1]%>" target="_blank" rel="noopener noreferrer"><%= movie[0] %></a></p>
					<% else %>	
						<p><a href="https://www.unitedcinemas.jp/<%=movie[2]%>/film.php?film=<%=movie[1]%>" target="_blank" rel="noopener noreferrer"><%= movie[0] %></a></p>
					<% end %>	
					<p class="text-center"><img src='<%=movie[4]%>' class='img-fluid rounded' alt='thumb'></p>
					<p><%=Theater.find_by(name: movie[2]).official%></p>
					<% if movie[3].present? %>
						<p class="alert p-0"><%=movie[3].month%>/<%=movie[3].day%>終了</p>
					<% end %>
					<div class="d-flex justify-content-end">
						<form action="/delete/<%=movie[1]%>" method="post">
							<input type="hidden" name="theater" value="<%=movie[2]%>">
							<input type="hidden" name="page" value="mypage">
							<input type="submit" value="&#xf2ed;" class="btn card-footer-text far fa-trash-alt">
						</form>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>
